# Exclude all directories named "target"
**/target/

# Exclude settings files and directories (e.g.: Eclipse)
**\.*/
**\.*

# Keep .gitignore file
!\.gitignore

#Exclude IntelliJ IDEA files
**/*.iml

# Exclude VAADIN widgsets
**/src/main/webapp/VAADIN/widgetsets/

# Exclude VAADIN compiled themes
**/src/main/webapp/VAADIN/themes/*/styles.css

